<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="login_history" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Login History</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="geoip_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GeoIp API</label>
                <field id="api_key" type="obscure" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IP Stack API key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
